/* GLOBAL */
*{
    box-sizing: border-box;
    position: relative;
}
body{
    background: #f1f1f1;
    
}

/* MAIN CSS */
.vglasses__left{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__left .col-4{
    align-self: center;
}
.vglasses__items{
    cursor: pointer;
}

.vglasses__right{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.vglasses__model{
    background-image: url('../img/model.jpg');
    background-position: center top;
    background-size: cover;
    height: 600px;
    
}

.vglasses__model img{
    position: absolute;
    top: 32%;
    left: 25%;
    width: 238px;
    height: 85px;
    opacity: 0.9;
}

.vglasses__card{
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info{
    position: absolute;
    bottom:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    color: white;
    padding: 20px;
   display: none;
}

#glasses{
    transition: all 0.5s;
}
.item {
    max-width: 33%;
    height: 20%;
    align-self: center;
  }
  
  /* CSS nội dung description của kính */

  .title, .price, .status,.desc {
    font-weight: 500;
  }

  .title {
    width: 100%;
    font-size: 15px;
  }
  .price {
    padding-left: 5px;
    margin-left: 16px;
    width: 30px;
    height: 28px;
    background-color: green;
    border-radius: 4px;
  }
  .status {
    color: white;
  }
  .desc {
    font-size: 0.9 rem;
  }
  .chooseGlass {
    position: absolute;
    top: -110%;
    left: 19%;
    max-width: 61%;
  }
  .chooseGlass-2 {
    position: absolute;
    top: -112%;
    left: 19%;
    max-width: 61%;
  }
  .chooseGlass-3 {
    position: absolute;
    top: -140%;
    left: 20%;
    max-width: 61%;
  }

  /* Hiệu ứng của nút Before - After */
  .glass-img {
    display: flex;
  }
  .glass-img-2 {
    display: none;
  }
 
  